/* ===================== */
/* COMMOM CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border:1px solid blue */
}
body{
    background: #b9bcdde5;
    font-family: sans-serif,arial,Helvetica;
}
.body-content{
    text-align: center;
    justify-content: center;
    align-items: center;

}
a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.btn:focus,
button:focus{
    outline: none;
}
.btn-primary{
    background-color: rgb(245, 45, 45);
    border-color: red;
    width: 100%;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 10px;
}
 hr{
        margin: auto;
        display: block;
        width: 100px;
        overflow: hidden;
        border-style: inset;
        color: red;
        border: 2px solid red;
        
       
}
form{
    margin: auto;
    border-radius: 10px;
    padding:30px 20px;
    background-color: #f1f1f1;
    width: 300px;
    border-top: 5px solid rgb(228, 26, 59);
}
.form-group{
    text-align: left;
}
.form-group label{
    color: rgb(68, 65, 65);
    font-weight: 200;
}
.return{
    margin: 20px 1px 0px 1px;
}
#return{
    color: rgb(68, 65, 65);
    text-align: center;
}
#return:hover{
    color: #000;
}
/* ===================== */

